# =========================
# Python
# =========================
backend/venv/
backend/__pycache__/
**/__pycache__/
backend/*.pyc
*.pyc
*.pyo
backend/.env
backend/users.db

# Temporary files
backend/temp_*

# =========================
# Node
# =========================
frontend/node_modules/
frontend/dist/
frontend/.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

