fastapi
uvicorn
python-jose[cryptography]
python-multipart

sqlalchemy
passlib[bcrypt]
bcrypt

pandas
rapidfuzz
spacy
easyocr
openai-whisper
speechrecognition
pydub

python-dotenv
google-generativeai
requests